<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="http://www.omdbapi.com/">New Releases</a>
    </nav>
  </header>
  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome to our app!</h1>
        <p>This website includes a huge collection of movie information include credits, production info, links to
          reviews, etc. And you can also create your own library of movies including your list of favorite movies,
          classifing by year relesead, etc.</p>
        <p><a class="btn btn-primary btn-lg" href="../public/login.html" role="button">Login &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row row-cols-6 row-cols-md-5">
        <div class="col mb-4">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTuW-6U3PuG09vL3R6noc5dYaHgzi43wsACuw&usqp=CAU"
              class="card-img-top" alt="moviepic">
            <div class="card-body">
              <h5 class="card-title">Movie 1</h5>
              <p class="card-text moviedescription">This is a longer card with supporting text below as a natural
                lead-in
                to additional content. This content is a little bit longer.
              <p><a class="btn btn-secondary movielink" href="#" role="button">View details &raquo;</a></p>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT3FK-WUIBt53FUnIxZZ2SKLf85Y7w0Dfc4Vg&usqp=CAU"
              class="card-img-top" alt="moviepic">
            <div class="card-body">
              <h5 class="card-title">Movie 2</h5>
              <p class="card-text moviedescription">This is a longer card with supporting text below as a natural
                lead-in
                to
                additional content. This content is a little bit longer.
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGnZtVUHz0f_fFpp_lHgyeArFtCJAQ880JFQ&usqp=CAU"
              class="card-img-top" alt="moviepic">
            <div class="card-body">
              <h5 class="card-title">Movie 3</h5>
              <p class="card-text moviedescription">This is a longer card with supporting text below as a natural
                lead-in
                to additional
                content.
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTklbTJeG_tICjlCmm2_IU1Vu15vPD02xgTXA&usqp=CAU"
              class="card-img-top" alt="moviepic">
            <div class="card-body">
              <h5 class="card-title">Movie 4</h5>
              <p class="card-text moviedescription">This is a longer card with supporting text below as a natural
                lead-in
                to additional
                content. This content is a little bit longer.
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTklbTJeG_tICjlCmm2_IU1Vu15vPD02xgTXA&usqp=CAU"
              class="card-img-top" alt="moviepic">
            <div class="card-body">
              <h5 class="card-title">Movie 4</h5>
              <p class="card-text moviedescription">This is a longer card with supporting text below as a natural
                lead-in
                to additional
                content. This content is a little bit longer.
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2020 writen by Aaron, Demetrio, Ryan &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

<script type="text/javascript" src="/public/js/home.js"></script>