form.signup,
form.login {
  margin-top: 50px;
}

.breadcrumb-item {
  font-size: 18px;
}

.card-home {
  height: 500px;
  overflow: auto;
  margin-top: 20px;
}

.hot {
  color: red;
}


.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}